.wrapper {
  position: relative;
  height: 100vh;
  max-height: 1000px;
  width: 100%;

  .banner {
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      object-position: center 60px;
    }
  }

  .container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .textBlock {
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;

      .stars {
        width: 90px;
        position: relative;
        height: 20px;

        img {
          object-fit: contain;
        }
      }

      .text {
        font-size: 30px;
        font-family: "Proxima Nova Semibold", sans-serif;
        color:#fff;
      }

      .title {
        font-size: 100px;
        font-family: "Proxima Nova Black", sans-serif;
        text-transform: uppercase;
        line-height: 1;
        color: #fff;
      }

      .subtitle {
        font-size: 30px;
        font-family: "Proxima Nova Regular", sans-serif;
        color:#fff;
      }

      @media screen and (max-width: 550px){
        align-items: flex-start;

        .text, .subtitle {
          font-size: 24px;
        }
        .title {
          font-size: 39px;
        }
      }
    }

    .circlesBlock {
      position: absolute;
      left: 50%;
      top:24%;
      transform: translate(-50%);
      z-index: 1;
      opacity: 0.4;

      @media screen and (max-width: 700px){
        display: none;
      }
    }
  }

  .moduleBlock {
    background-color: #fff;
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70vw;
    width: 100%;
    max-height: 100px;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
  }

  .animatedMouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-17.5px);

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}