.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .container {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 95px;

    &:before {
      content: '';
      //background: no-repeat url(../../../img/home-page/football.png);
      width: 160px;
      height: 160px;
      background-size: contain;
      position: absolute;
      right: 90px;
      top: -80px;
      z-index: 1;
      @media (max-width: 768px) {display: none}
    }

    .sliderWrapper {
      max-width: 1200px;
      margin: -40px auto 0;

      :global(slick-dots) {
        bottom: 12px;
      }

      .sliderItemWrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 280px;
        margin: 40px auto;
        padding: 10px;

        @media (max-width: 1000px) {
          margin-left: 20px;
        }

        img {
          object-fit: contain;
          width: 62px;
          height: 62px;
          margin-bottom: 15px;
        }

        h5 {
          font-family: "Geometria Bold", sans-serif;
          font-size: 20px;
          margin-bottom: 15px;
          text-align: center;
        }

        p {
          font-family: "Geometria Light", sans-serif;
          line-height: 1.2;
          text-align: center;
        }


        @media (max-width: 600px) {
          zoom: 0.8;
          margin: 40px auto 50px
        }
      }
    }


  }

}
