.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  //slick slider restyle
  :global(.slick-next:before,
  .slick-prev:before) {
    color: #000;
  }

  :global(.slick-list) {
    overflow: visible;
  }

  :global(.slick-track) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 481px) {
    :global(.slick-slider) {
      height: unset;
      padding-bottom: 40px;
    }
  }
  @media screen and (max-width: 1200px) {
    :global(.slick-slider) {
      height: unset
    }
  }

}

.text {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 15px;

  @media screen and (max-width: 992px) {
    margin: 30px auto 0;
  }
}

.container {
  box-sizing: border-box;
  position: relative;;
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &.withPadding {
    @media (min-width: 1025px) {
      padding-bottom: 50px;
    }
  }

  &.small {
    max-width: 440px;
  }
}


@media screen and (max-width: 1200px) {

  .container {
    height: unset;
    padding-top: 0;
  }

}

@media screen and (max-width: 768px) {

  .container {
    padding-top: 0;
  }

}